<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="about:blank">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    {{#refresh}}
        <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>MYT Blockchain Explorer</title>
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <style type="text/css">
        {{#css_styles}}{{/css_styles}}
    </style>

</head>
<body>
<div>
    <div class="hero-black">
    <div class="center hero-content">
        <div style="display:flex; justify-content:center; margin-top: 6px;">
            <a href="/" class="logo-link"><img src="/assets/MYT-Logo.png" alt="MYT Logo" class="brand-logo"></a>
        </div>
        <h1 class="center"><a href="/">MYT Blockchain Explorer</a></h1>
        <h4 style="font-size: 15px; margin: 0px">(no javascript - no cookies - no web analytics trackers - open sourced)</h4>
    </div>
    </div>


    <div class="center">
        <form action="/search" method="get" style="width:100%; margin-top:15px" class="style-1">
            <input type="text" name="value" size="120"
                   placeholder="block height, block hash, transaction hash">
            <input type="submit" value="Search">
        </form>
    </div>

</div>
